@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

::selection {
    color: #fff;
    background-color: #E20922;
    text-shadow: #33322f;
}

#loader {
    position: absolute;
    left: 50%;
    top: 22%;
    z-index: 1;
    width: 200px;
    margin: -100px 0 0 -100px;
}

/*******   Scrollbar   *******/

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(37, 37, 37, 0.70);
    border-radius: 10px;
    opacity: 60%;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(43, 43, 43, 0.70);
}

.main {
    text-align: center;
}

/* navbar */
.navbar {
    top: 0;
}

.sticky-top {
    backdrop-filter: blur(20px);
}

.navbar-brand {
    text-align: start;
    font-size: 2.5rem !important;
    line-height: 0;
    font-weight: 700;
    color: #fff !important;
    font-family: 'Urbanist', sans-serif;
}

.navbar-brand img {
    height: 90px;
    padding-left: 1rem;
    padding-right: 0;
}

.navbar-toggler-icon {
    border-color: rgb(255, 255, 255) !important;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) 0.5rem !important;
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: rgb(255 255 255) !important;
    background-color: rgb(255 255 255) !important;
    border: var(--bs-border-width) solid rgb(255, 255, 255) !important;
}

ul {
    list-style-type: none;
    list-style: none;
}

.nav-link {
    color: #343434 !important;
    letter-spacing: 1px;
    font-weight: 600 !important;
    font-size: 18px !important;
    transition: 300ms !important;
    padding-right: 18px !important;
    font-family: 'Questrial', sans-serif !important;
    position: relative;
    text-decoration: none;
}

.nav-link.active {
    font-weight: 600 !important;
    color: #25BEEF !important;
}

.nav-link::after {
    position: absolute;
    top: 30px;
    left: 8px;
    content: "";
    width: 0%;
    height: 3px;
    background-color: #343434 !important;
    transition: all 0.5s;
}

.nav-link:hover::after {
    width: 75%;
}

.nav-link.active {
    font-weight: 600 !important;
    color: #3c3c3c !important;
}

.navbar-toggler-icon {
    border-color: rgb(255, 255, 255) !important;
}

.navbtn {
    margin-right: 1rem !important;
    color: #343434 !important;
    background: transparent !important;
    border-color: #343434 !important;
    border-width: 2.5px !important;
    border-radius: 50px !important;
    font-family: 'Questrial', sans-serif !important;
    letter-spacing: 1px;
    font-size: 18px !important;
    font-weight: 600 !important;
    padding: 10px 20px !important;
    transition: 300ms !important;
}

.navbtn:hover {
    color: #343434 !important;
    transform: scale(1.05) !important;
    border-color: #343434 !important;
    background: #80808027 !important;
}

h1 {
    font-family: 'Albert Sans', sans-serif !important;
    font-size: 4.2rem !important;
    font-weight: 800 !important;
}

h2 {
    font-family: 'Albert Sans', sans-serif !important;
    font-size: 3.2rem !important;
    font-weight: 800 !important;
    color: rgb(37, 37, 37) !important;
}

h2 hr {
    margin: 8px auto auto;
    width: 75%;
    height: 4px;
    border-radius: 5px;
    background-image: linear-gradient(90deg, red, blue);
    opacity: .5;
    border: 0;
}

h3 {
    font-family: 'Albert Sans', sans-serif !important;
    font-size: 1.6rem !important;
    font-weight: 400 !important;
}

h5 {
    font-family: 'Albert Sans', sans-serif !important;
    font-size: 1.6rem !important;
    font-weight: 700 !important;
}

p {
    font-family: 'Questrial', sans-serif !important;
    font-size: 20px !important;
}

/* top */
#home {
    margin-top: -8rem !important;
    padding: 11rem 7% 4%;
    color: #fff !important;
    display: flex;
    align-items: center;
    background: linear-gradient(-45deg, #ff5555, #e59c00, #00bd91, #009bd3, #003cd3);
    background-size: 600% 600%;
    animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.home-left {
    text-align: start !important;
    padding: 2rem auto !important;
}

.para {
    font-size: 20px !important;
    margin-bottom: 1rem !important;
    opacity: 95%;
}

.top-btn {
    color: #fff !important;
    background: transparent !important;
    border-width: 2.5px !important;
    border-radius: 50px !important;
    font-family: 'Questrial', sans-serif !important;
    letter-spacing: 1px;
    font-size: 18px !important;
    font-weight: 500 !important;
    padding: 10px 20px !important;
    transition: 300ms !important;
}

.top-btn:hover {
    color: #fff !important;
    transform: scale(1.05) !important;
    border-color: white !important;
    background: rgba(255, 255, 255, 0.263) !important;
}

.homesnap {
    width: 110%;
    margin-top: -5rem;
}

.home-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* wwd */
#wwd {
    padding: 4% 5% 0 !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wwd .row {
    color: #000 !important;
    padding: 5% 2% 0 !important;
    text-align: left !important;
}

.wwd-lottie {
    display: flex !important;
    padding: 0;
    justify-content: center;
    background: linear-gradient(-80deg, #c9d6ffbb 0%, #e2e2e2 100%);
    border-radius: 20px;
}

.wwd-lottie .lottie {
    width: 360px !important;
}

.wwd-txt {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
}

.back-lottie {
    position: absolute !important;
    margin-right: 0rem !important;
    top: 32rem !important;
    right: 0rem !important;
    z-index: -1 !important;
    transform: rotate(180deg);
}

/* services */
#services {
    padding: 5% 7% !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    color: #000 !important;
    display: flex !important;
    padding: 5% 0 !important;
    --bs-card-border-color: transparent !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p {
    font-size: 18px !important;
    text-overflow: ellipsis !important;
}

.service-lottie {
    width: 300px !important;
    height: 300px !important;
}

.more-btn {
    color: #fff !important;
    width: 150px !important;
    background: linear-gradient(42deg, #FE8081 0%, #8180FE 100%) !important;
    border-width: 2.5px !important;
    border-radius: 50px !important;
    font-family: 'Questrial', sans-serif !important;
    letter-spacing: 1px;
    font-size: 18px !important;
    font-weight: 500 !important;
    padding: 8px 20px !important;
    transition: 300ms !important;
}

.more-btn:hover {
    color: #fff !important;
    transform: scale(1.05) !important;
    border-color: white !important;
    /* background: rgba(255, 255, 255, 0.263) !important; */
}

/*****Footer*****/
#footer {
    padding: 2% 6%;
    color: #fff !important;
    background-color: #13161a !important;
    text-align: left;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-title {
    font-size: 1.8rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
}

.footer-para {
    font-size: 18px !important;
    opacity: 0.85;
}

#logodown {
    margin: 2% auto;
    padding: .5%;
    height: 100px;
    transition: 300ms;
    border-radius: 20%;
}

#logodown:hover {
    transform: scale(1.1);
}

.footer-link {
    color: #fff !important;
    font-size: 18px;
    text-decoration: none;
    opacity: 0.85;
}

.footer-link:hover {
    opacity: 100%;
    text-decoration: underline;
}

.font3 {
    font-size: 16px !important;
    margin: 3% auto 0px auto;
}

.font3 a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}

.links-list {
    padding-left: 0px;
    margin: 2% 0;
    font-size: 20px;
}

.s-icon {
    margin: 10px auto !important;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    transition: 200ms !important;
}

.s-icon:hover {
    transform: scale(1.1);
}

.facebook,
.twitter,
.instagram,
.linkedin {
    color: white !important;
    border-radius: 50px !important;
    font-size: 25px !important;
}

.facebook {
    background-color: #3B5998 !important;
}

.twitter {
    background-color: #55ACEE !important;
}

.instagram {
    background: radial-gradient(circle at 30% 100%, #fdf497 0%, #fdf497 10%, #fd5949 45%, #d6249f 60%, #285AEB 100%) !important;
}

.linkedin {
    background-color: #007BB5 !important;
}