@media only screen and (max-width: 820px) {
    .topnav {
        background: linear-gradient(105deg, #ff5555, #e59c00, #00cf9f, #009bd3, #003cd3);
        background-size: 400% 400%;
        animation: gradient 5s ease-in-out infinite;
    }

    .navbar-brand img {
        height: 70px;
        padding-left: 0;
    }

    h1 {
        font-size: 2.3rem !important;
    }

    h2 {
        font-size: 2.1rem !important;
    }

    h3 {
        font-size: 1.4rem !important;
    }

    h5 {
        font-size: 1.5rem !important;
    }

    p {
        font-size: 17px !important;
    }

    .homesnap {
        width: 100%;
        margin: 0;
    }

    .back-lottie {
        width: 48%;
        position: absolute !important;
        margin-right: 0rem !important;
        top: 26rem !important;
        right: 0rem !important;
        z-index: -1 !important;
        transform: rotate(180deg);
    }

    /* wwd */
    #wwd {
        padding: 12% 4% 4% !important;
    }

    #wwd .row {
        margin: 0 0 2% 0;
    }

    .wwd-lottie {
        margin: 2% !important;
        background: transparent;
    }

    .wwd-lottie .lottie {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }

    /* services */

    /* banner  */
    #banner {
        padding: 10%;
        min-height: 30vh;
    }

    .banner-lottie {
        position: absolute;
        margin-top: 11rem;
        width: 45%;
    }

    #banner h4 {
        font-size: 1.4rem;
    }

    /* clients */
    .sqr-logo {
        height: 80px;
        margin: 30px 20px;
    }

    .rect-logo {
        height: 50px;
        margin: 10px;
    }

    .client-lottie {
        width: 100%;
        z-index: -2;
    }

    /* top banner */
    #top-banner {
        margin-top: -8rem !important;
        padding: 7rem 8% 4%;
    }

    .top-banner-lottie {
        position: absolute;
        width: 28rem;
        right: 0;
    }

    /* .abt-left {
        margin-top: -10rem !important;
    } */

    .abt-left-lottie {
        width: 100%;
    }

    /* team */

}

@media only screen and (max-width: 600px) {
    .sticky-top {
        backdrop-filter: blur(20px);
    }

    .navbtn {
        display: none !important;
    }

    .nav-link {
        color: #33322f !important;
    }

    .nav-link::after {
        left: 17%;
    }

    .nav-link:hover::after {
        width: 65%;
    }

    .nav-link.active::after {
        font-weight: 600 !important;
        width: 65%;
        top: 35px;
        left: 16%;
    }

    .navbar-brand img {
        height: 60px;
    }

    .nav-link {
        font-size: 20px !important;
    }

    h1 {
        font-size: 2.5rem !important;
    }

    h5 {
        font-size: 1.45rem !important;
    }

    /* home */
    #home {
        margin-top: -8rem !important;
        padding: 9rem 7% 4%;
    }

    /* wwd */
    #wwd {
        padding: 12% 4% 4% !important;
    }

    #wwd .row {
        margin: 0 0 2% 0;
    }

    .wwd-lottie {
        margin: 5% 5% !important;
        background: transparent;
    }

    .wwd-lottie .lottie {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }

    /* services */
    .service-lottie {
        width: 100% !important;
        height: 100% !important;
    }

    .lg-lottie {
        width: 90% !important;
        height: 90% !important;
    }

    .sm-lottie {
        margin: 2% 0 25px !important;
    }

    /* banner  */
    #banner {
        padding: 10%;
        min-height: 50vh;
    }

    .banner-lottie {
        margin-top: 15rem;
        width: 50%;
    }

    /* clients */
    .sqr-logo {
        height: 60px;
    }

    .rect-logo {
        height: 40px;
        margin: 10px;
    }

    .client-lottie {
        width: 100%;
        margin-top: -100px;
    }

    /* top Banner */
    #top-banner {
        margin-top: -8rem !important;
        padding: 9rem 8% 4%;
    }

    .top-banner-lottie {
        display: none;
    }

    /* about */
    #about {
        padding: 7% 4% 0;
    }

    .abt-right h2 {
        text-align: center !important;
    }

    .abt-right p {
        text-align: justify;
    }

    .abt-left img {
        width: 80%;
    }

    .abt-left-lottie {
        width: 90%;
    }


    .cbox #services {
        padding: 5% 0% !important;
    }

    /* testimonal */
    .client-img {
        border-radius: 20px;
        width: 180px;
        height: 250px;
    }

    .test-text {
        padding-top: 1.5rem;
    }

    /* team */
    .team-card {
        margin: 10px 0 !important;
    }

    .team-pic {
        margin-top: -80px;
        width: 160px;
    }

    .s-icon {
        margin: 5px auto !important;
        width: 42px;
        height: 42px;
    }

    .facebook,
    .twitter,
    .instagram,
    .linkedin {
        color: white !important;
        border-radius: 50px !important;
        font-size: 20px !important;
    }

    .soon {
        width: 100%;
    }

    .row {
        --bs-gutter-x: 0rem !important;
    }
}

@media only screen and (max-width: 300px) {
    .navbar-brand img {
        height: 45px;
    }
}

/* #D5A65B logocolor
#FFCE0A  eyecolor */